
*.html

*.PrjPCBStructure

elec/src/Project Outputs for holoboard/

elec/src/holoboard\.Dat

firm/vhdl/holoboard_tcr\.dir/

firm/vhdl/testbenchs/PWM_testbench/PWM_testbench/

firm/vhdl/testbenchs/PWM_testbench/compile/

firm/vhdl/testbenchs/PWM_testbench/log/

firm/vhdl/testbenchs/PWM_testbench/work/

*.asdb

firm/vhdl/testbenchs/PWM_testbench/\._Real_\._Math_\.vhd

firm/vhdl/testbenchs/PWM_testbench/PWM_testbench\.adf

firm/holoboard\.elf\.launch


*.ini

*.ado

*.aws

*.sort

*.spf

*.tops

*.wsp

*.wsw

*.order

*.cfg

*.log

*.tcl

*.lst

*.set

firm/vhdl/testbenchs/QEI_testbench/QEI_testbench/

firm/vhdl/testbenchs/QEI_testbench/compile/

firm/vhdl/testbenchs/QEI_testbench/work/

firm/vhdl/testbenchs/QEI_testbench/\._Real_\._Math_\.vhd

*.adf

*.sdc

*.edn

*.ipx

*.jhd

*.lpc

*.naf

*.srp

*.sym

*.ccl

*.ldf

*.lpf

*.sty

*.dmp

*.xml

*.htm

firm/vhdl/Igrebot/\.vdbs/

firm/vhdl/Igrebot/backup/

firm/vhdl/Igrebot/dm/

firm/vhdl/Igrebot/synlog/

firm/vhdl/Igrebot/holoboard_Igrebot\.dir/

firm/vhdl/Igrebot/syntmp/

firm/vhdl/Igrebot/synwork/

firm/vhdl/Igrebot/\.build_status

firm/vhdl/Igrebot/\.recordref

*.twr

*.v

*.areasrr

*.edi

*.fse

*.sei

*.srd

*.srm

*.srr

*.srs

*.xcf

*.rpt

*.prd

*.prj

*.sxr

*.alt

*.arearep

*.bgn

*.bit

*.drc

*.jed

*.lsedata

*.mrp

*.mt

firm/vhdl/Igrebot/holoboard_Igrebot\.ncd

*.ngd

*.p2t

*.tmp0

*.p3t

*.pad

*.par

*.txt

*.prs

firm/vhdl/Igrebot/xxx_lse_cp_file_list

firm/vhdl/Igrebot/xxx_lse_sign_file

*.hrr

*.ncd

*.cam

*.vho

*.t2b

*.tw1

*.synproj

*.sdf

*.asd

*.pt

*.prf

*.ior
